<!DOCTYPE html>
<%- include("../includes/head.ejs")%>
<%- include('../admin/header-admin.ejs') %>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manager Order</title>
    </head>
    <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                <div class="translate">Manager Order</div>
            </h3>
        </div>
    <body>
            <div class="product-status mg-tb-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="product-status-wrap">
                                    <h4>Order List</h4>
                                    <div class="add-product">
                                        <!-- <a href="/admin/edit-user">Add user</a> -->
                                    </div>
                                    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td> Name</td>
                <td> Created Order</td>
                <td>Sum</td>
                <td>Mobile Cart</td>
                <td>Address</td>
                <td>Function Update</td>
                <td>Function Delete</td>
            </tr>
            <% var i =0 %>
            <form method="POST" action="/adminTin/managerusers/delete">
                
            <% listorder.forEach(function (orderProduct) { %>
                <% var js=JSON.parse(JSON.stringify(orderProduct.productNewOrder.order)) %>

            <tr>
                    <input type="hidden" value="<%= orderProduct._id %>" name="_id" id="_id">
                    <td name="productname" id ="productname"> <%= orderProduct.productNewOrder.fullname %></td>
                    <td><%= orderProduct.productNewOrder.createdOrder %></td>
                    <td><%= js[0].sum%></td>
                    <td><%= orderProduct.productNewOrder.mobilenumber%></td>    
                    <td><%= orderProduct.productNewOrder.address%></td>     
                    <td>   <a href="../adminTin/managerorder/update/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Update
                    </a></td>
                    <td>   <a  href="../adminTin/managerorder/delete/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Delete
                    </a></td>
            </tr>
            <% orderProduct.count =i%>
            <% orderProduct.count = orderProduct.count+1 %>

            <% i = orderProduct.count %>
            
            <%  }) %>
            
            </form>
        </table>

        <h2 class="ltext-105 cl0 txt-center " style ='color:brown'>
            Tổng số sản phẩm orderProduct là: <%= i %>
     </h2>
    </div>
</div>
</div>
</div>
</div>

	<!-- Map -->
	<div class="map">
            <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
        </div>
    
        <%- include('../includes/footer.ejs') %>			
    
        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>
    <%- include('../includes/end.ejs') %>
    </body>
</html>