<%- include('../includes/admin-head.ejs') %>
<%- include('../includes/head.ejs') %>

<body class="animsition">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 uxa-form-group mt-5">

                <h1 class="text-center mt-5 mb-2">YOUR ACCOUNT</h1>
                <!-- single sentence description -->
                <p class="lead text-center"><%= user.username %></p>
                <!-- /single sentence description -->

                <div class="uxa-user-avatar">
                    <img class="avatar"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw_YH9cRRgw-4HkfvHENsN_k92lWOZCZbVAAYAooPZi92KROIOWQ&s"
                        alt="User avatar">
                </div>


                <form class="mt-5 mb-5">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Your Email Address<span>*</span></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share or spam your email
                            address.</small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName">User Name</label>
                        <input type="text" class="form-control" id="exampleInputUserName" aria-describedby="username"
                            value=" <%= user.username %>">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter your First Name">
                    </div>

                </form>

                <button class="btn btn-success" (click)="save()"><i class="fa fa-save mr-2"></i> Update Account
                    Details</button>

            </div>
        </div>
    </div>


    <%- include('../includes/footer.ejs') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>


    <%- include('../includes/end.ejs') %>