<%- include('../includes/profile-head.ejs') %>
<%- include('../includes/head.ejs') %>
<%- include('../admin/header-admin.ejs') %>
<body class="animsition">
    <style type="text/css">
    section{
        background-image:  url(/images/avatar.jpg);
    }
    </style>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image:  url(/images/avatar.jpg) ">
		<h2 class="ltext-105 cl0 txt-center" style ='color:white'>
			Products Name 
        </h1>
        <h3 class="ltext-105 cl0 txt-center " style ='color:white'>
               <%= airpods.productname %>
        </h3>
	</section>	 

	
        <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                </div>
            </div>
        </div>
        <div class="single-product-tab-area mg-tb-15">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                         
                                        <div id="myTabContent" class="tab-content custom-product-edit">
                                            <div class="product-tab-list tab-pane fade active in" id="description">
                                            
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="
                                                    background: antiquewhite">
                                                        <div class="review-content-section">
                                                                <form method="POST" action="/adminTin/managerproducts/update">
                                                            <span class="mtext-110 cl2 ">
                                                                Product Name
                                                            </span>
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i style="display: flex;" class="fa fa-user updateuser-image"
                                                                    aria-hidden="true"></i></span>
                                                                <input type="text" name="productname" id="productname" class="form-control" placeholder="AirPods name" value="<%= airpods.productname %>">
                                                            </div>
                                                            <span class="mtext-110 cl2 ">
                                                                Image Path
                                                            </span>
                                                            <div class="input-group mg-b-pro-edt">
                                                                    
                                                                <span class="input-group-addon"><i style="display: flex;" class="fa fa-user updateuser-image"
                                                                    aria-hidden="true"></i></span>
                                                                <input type="text" name="imagePath" id="imagePath" class="form-control" placeholder="Image Path" value="<%= airpods.imagePath %>">
                                                            </div>
                                                            <span class="mtext-110 cl2 ">
                                                                Description
                                                            </span>
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i style="display: flex;" class="fa fa-user updateuser-image"
                                                                    aria-hidden="true"></i></span>
                                                                <input type="text" name="description" id="description" class="form-control" placeholder="Description" value="<%= airpods.description %>">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="
                                                    background: antiquewhite">
                                                        <div class="review-content-section">
                                                                <span class="mtext-110 cl2 ">
                                                                     Price ($)
                                                                    </span>
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i style="display: flex;" class="fa fa-user updateuser-image"
                                                                    aria-hidden="true"></i></span>
                                                                <input type="text" name="price" id="price" class="form-control" placeholder="Price" value="<%= airpods.price %>">
                                                            </div>
                                                            <span class="mtext-110 cl2 ">
                                                                Created
                                                                </span>      
                                                            <div class="input-group mg-b-pro-edt" >
                                                                <span class="input-group-addon"><i style="display: flex;" class="fa fa-user updateuser-image"
                                                                    aria-hidden="true"></i></span>
                                                                <input type="text" name="created" id="created" class="form-control" placeholder="created" value="<%= airpods.created %>">
                                                          
                                                            </div>
                                                            <span class="mtext-110 cl2 ">
                                                                Quantity
                                                                </span>      
                                                            <div class="input-group mg-b-pro-edt" >
                                                                <span class="input-group-addon"><i style="display: flex;" class="fa fa-user updateuser-image"
                                                                    aria-hidden="true"></i></span>
                                                                <input type="text" name="quantity" id="quantity" class="form-control" placeholder="quantity" value="<%= airpods.quantity %>">
                                                          
                                                            </div>
                                                            <input type="hidden" value="<%= airpods._id %>" name="_id" id="_id">
                                                            <input type="hidden" value="<%= airpods.category %>" name="category" id="category">
                                                        </div>
                                                  
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="product-edt-pix-wrap">
                                                           
                                                                <div class="row">                                
                                                                    <div class="col-lg-12">
                                                                        <div class="product-edt-remove" style="display: inline-block;">
                                                                     
                                                                                <button type="submit" class="btn btn-danger waves-effect waves-light">Save
                                                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                 
                                </div>
                            </div>
                       
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    
                  









	<%- include('../includes/footer.ejs') %>			

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	

<%- include('../includes/end.ejs') %>