<%- include('../includes/head.ejs') %>

<body class="animsition">

	<%- include("../includes/header.ejs")%>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url(images/iphone-xr1.jpg);">
		<h2 class="ltext-105 cl0 txt-center" style='color: aquamarine'>
			iPhone
			</h1>
	</section>

	<%- include('../includes/interface-listiphone.ejs') %>



	<%- include('../includes/footer.ejs') %>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<%- include('../includes/cart-r-side.ejs') %>
	<%- include('../includes/modal.ejs') %>
	<%- include('../includes/end.ejs') %>